#logBTN,#userBTN{float: right;}

.material-icons.md-18 { font-size: 18px; }

#logBTN_dropdown,#userBTN_dropdown{
    padding: 25px;
    width: 350px;
    left: -130px;
}
#logBTN_form1{
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
}
#logBTN_form2{
    width: 100%;
}
#frmlogjv{
    width:100%;
}
#rebBTN{
    width: 100%;
}
.card{
    width: 100%;
}
#commodityCard{
    width: 33%;
    display: inline-block;
}
#commCardAdmin{
    width: 20%;
    display: inline-block;
}
.imgAdminCommodity{
    height: 100px;
    width: 100px;
    max-width: 200px;
}
.formAddCommodity{
    width:100% ;
    margin: 0 auto;
}
.idNameUser{
    position: absolute;
}
.col-md-8{
    width: 75%;
    float: left;
}
.col-md-4{
    width: 25%;
}
#imgNamePath{
    width: 350px;
    left: 20px;
}
#form1,#form2{
    color: black;
}

/* TEMPLATE STYLES */
body > main > div{
    margin: 0 5% 0 5%!important;
    width: 100%;
}
body > main > div > div{
    height: 100%;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.divider-new{

}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.divider-new {
    margin-top: 0;
    margin-bottom: 20px;
}
#UserProfileImg{
    height: 300px;
}
#inputAddCategory{
    margin: 0 auto;
    width: 50%;
}
#carousel-example-2{
    width: 80%;
    margin: 0 auto;
}

/*///////////////////////*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}